<div class="modal fade" id="viewInfoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Propiedad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body text-start bg-dark text-white">
        <div class="mb-3 text-center">
          <h6>En desarrollo...</h6>
        </div>
      </div>
    </div>
  </div>
</div>