<div class="modal fade" id="editStateModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar estado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body text-start bg-dark text-white">
        <div class="mb-3 text-center">
          <h3></h3>
          <h4>Seguro que desea continuar?</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="confirm-state">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>