<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Inmobiliaria</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/Inmobiliaria.styles.css" asp-append-version="true" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
      <div class="container-fluid h-25">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between h-25">
          <ul class="navbar-nav flex-grow-1 p-0 gap-4 d-flex align-items-center">
            <li class="nav-item">
              <p class="navbar-brand text-warning fs-4 m-0 p-0">@ViewData["Subtitle"]</p>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark text-white p-0" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-0" asp-area="" asp-controller="Propietario" asp-action="Index">Propietario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-0" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-0" asp-area="" asp-controller="Inmueble" asp-action="Index">Inmueble</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-0" asp-area="" asp-controller="Contrato" asp-action="Index">Contrato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container text-center">
      <small>
        &copy; 2025 - Inmobiliaria By Ignacio Torres - <a href="https://github.com/int-ExIT/Proyecto_Inmobiliaria">GitHub</a>
      </small>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>