@{
  ViewData["Title"] = "Pagina Principal";
  ViewData["Subtitle"] = " Inmobiliaria";
}

<div class="text-center">
  <h1 class="display-4 my-5">Bienvenido:)</h1>
  <h3 class="my-5">Prueba el ABM de <a asp-controller="Inquilino" asp-action="Index">Inquilinos</a> y <a asp-controller="Propietario" asp-action="Index">Propietarios</a> aqui.</h3>
  <h5 class="my-3">Oh! Y tambien puede ver el repositorio de este proyecto<br>haciendo click en el enlace anclado en el footer ;).</h5>
</div>