@{
  ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
  <h1 class="display-4 my-4">Bienvenido:)</h1>
  <h3>Prueba el ABM de <a asp-area="" asp-controller="Propietario" asp-action="Propietario">Propietario</a> e <a asp-area="" asp-controller="Inquilino" asp-action="Inquilino">Inquilino</a> aqui.</h3>
</div>